@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Lora&family=Montserrat:wght@700&display=swap");
* {
  --primary: #d0efb1;
  --primary-dark: #b3d89c;
  --secondary: #9dc3c2;
  --secondary-accent1: #77a6b6;
  --secondary-accent2: #4d7298;
}

/* font-family: 'Hind Madurai',
sans-serif;
font-family: 'Lora',
serif;
font-family: 'Montserrat', sans-serif; */

/* Max headin- 3rem
secondary heading - 1.85rem
text - 1.14rem */
