.docs-list{
    display: flex;
    justify-content: space-between;
height: 90vh;

    .vstack{
        margin: auto auto;
        flex: 0 auto;
        padding: 5rem;
    }

           .button {
            width: fit-content;
               padding: 4px;
               border: solid 1px black;
               border-radius: 8px;
           }

}

.Docs-Login{
    margin: auto ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .Docs-Login-p{
        text-align: center;
            font-size: 1.85rem;
            font-weight: 300;
            font-family: 'Hind Madurai',
                sans-serif;
    }
        .Docs-Login-button {
            padding: 0 30px;
            width: auto;
            height: 50px;
            border-radius: 30px;
            font-weight: 600;
            font-size: 1.15rem;
            background-color: rgb(54, 255, 88);
            background-color: var(--primary-dark);
            color: black;
            transition: background-color 0.2s ease-in-out;
        }
}


@media (320px <= width <= 500px) {
    .docs-list{
        height: auto;
        margin: auto;

        .vstack{
            margin:auto;
            padding: 2rem;
            position: relative;
        }
        
    }
    .profile{
        position: absolute;
        right: 0;
        left: auto;
        float: right;
    }

        .Docs-Login{
            padding: 2rem 3.2rem;
        }
}